header
{
background-color:brown;
top:0;
left:0;
right:0;
}
footer
{
background-color:brown ;
}
main
{
background-color:white ;
}
nav
{
background-color:gray ;
top:0;
left:0;
right:0;
}
h1
{
 color:white;
 font-weight: 1000;
 font-family: 'Times New Roman', Times, serif;
 font-size: 130%;
}
h2, h3
{
 color:brown;
 font-weight:80%;
 font-family: 'Times New Roman', Times, serif;
 font-size: 100%;
}
p
{
color:brown;
font-weight: 500;
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
font-size: 90%;
}
a:link
{
color:#9dd9f1;
}
a:visited
{
color:rgb(164, 218, 128);
}
a:hover
{
color:#ED5094;
}
.whitetext
{
 color:#E4F1F6;
 font-size: 90%
}
